<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Админ панель</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/webjars/bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/webjars/font-awesome/5.5.0/css/all.min.css'>

</head>

<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
        <a class="navbar-brand" th:href="@{/admin}">Админ панель</a>
    </nav>
    <div class="row">
        <div class="col-md-2 col-12" th:fragment="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/book}">Книги</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/user}">Пользователи</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Выйти</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-12">
            <h3 class="display-4">Добро пожаловать!</h3>
            <p class="lead">Здесь вы можете управлять сайтом</p>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>